<h1 class="center">Contáctenos</h1>

<div>
  <p>Ventas</p>
  <p>Horario: de 9am a 5pm</p>
  <p>Teléfono: XXXXXXXXXXXXX</p>
  <p>Email: ventas@tiendacnc.com</p>
</div>

<p>Solicitud de información</p>
<p>Complete el siguiente formulario para obtener información sobre nuestro catálogo de productos.</p>

<style type="text/css" media="screen">
  p{
    margin: 0em;
  }
</style>


