// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"

@import "bootstrap-sprockets";
@import "bootstrap";

/* EXAMPLE 6 - Background Logo*/
.example6 .navbar-brand{
  background: asset-url('logo.png') center / contain no-repeat;
  width: 200px;
  color: #eaeaea;
}

.example6 > a {
  color: #eaeaea;
}


@font-face  {
 font-family:"Westminster";src:url("WESTM.eot?")
 format("eot"),url("WESTM.woff")
 format("woff"),url("WESTM.ttf")
 format("truetype"),url("WESTM.svg#Westminster")
 format("svg");font-weight:normal;font-style:normal;
}

#logo {
    font-family: "Westminster";
    color: ffffff;
    font-size: 3em;
    padding-top: 0.7em;
}

.center{ text-align: center; }

footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.glyphicon.glyphicon-chevron-right{
   color:black;
}

.glyphicon.glyphicon-chevron-left{
   color:black;
}

.carousel-inner{
  background-color: none;
/*  border: 1px solid red;*/
  text-align: center;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-control {
  width: 0;
}

.carousel-indicators li { display: none; }
