
<h1>
  <%= @product.name %>
</h1>
<p>
  Descripción:
</p>
<%= sanitize @product.description, tags: %w(strong, div, table, tr, td, ul, li, th, em, a, h2, ul, li, img), attributes: %w(href, src, class) %>
<%= link_to "Editar este producto", edit_product_path(@product) %>
<%= link_to "Volver al listado de productos", products_path %>


