<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; tiendacnc.com - La tienda online de partes para CNC.    </small>
    <nav>
      <ul>
       <li><%= link_to "Acerca de", about_path%></li>
      </ul>
    </nav>
  </footer>
</div>
